[Desktop Entry]
X-DBUS-StartupType=None
X-KDE-StartupNotify=false
Version=1.0
Terminal=false
Type=Application
Name=Twitch Streams
Exec=mycroft-gui-app --hideTextInput --skill=twitchstreams.aiix.home
Icon=twitch-streams
Categories=VoiceApp
StartupNotify=false
